LibraryMVC/LibraryMVC/Connected Services/UserTestManagement/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLibraryUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LibraryUser" nillable="true" type="tns:LibraryUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLibraryUser" nillable="true" type="tns:ArrayOfLibraryUser" />
  <xs:complexType name="LibraryUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LibraryUser" nillable="true" type="tns:LibraryUser" />
</xs:schema>